/* BREAKPOINTS */
/* 480px */
$screenXs: 480px;
/* 840px */
$screenSm: 840px; //768px; //Ipad vertical
/* 1024px */
$screenMd: 1020px; //Ipad apaisado
/* 1440px */
$screenLg: 1440px;
/* 1920px */
$screenXlg: 1920px;
